		<!-- 
			Start looking to use script.js: https://github.com/ded/script.js/
			rather than the below...
		-->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="scripts/lib/jquery.js"><\/script>')</script>
		<!-- scripts concatenated and minified via ant build script-->
		<script src="scripts/plugins.js"></script>
		<script src="scripts/script.js"></script>
		<!-- end scripts-->		        
	</body>
</html>
