<!DOCTYPE HTML><!--[if IE]><![endif]-->
<!--[if lt IE 7 ]><html class="no-js ie6" lang="en"><![endif]-->
<!--[if IE 7 ]><html class="no-js ie7" lang="en"><![endif]-->
<!--[if IE 8 ]><html class="no-js ie8" lang="en"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="en"><!--<![endif]-->
	<head>
		<meta charset="UTF-8">
		<link rel="dns-prefetch" href="//ajax.googleapis.com">
		<title>{{title}}</title>
		<meta name="description" content="{{description}}">
		<meta name="viewport" content="width=device-width">

		<link rel="stylesheet" href="css/style.css">

		<script src="scripts/lib/modernizr.js"></script>
		<!--[if IE]><meta http-equiv="imagetoolbar" content="no"><![endif]-->
		<!--[if lte IE 8]><script src="scripts/polyfill/selectivizr.js"></script><![endif]-->
		<link type="text/plain" rel="author" href="humans.txt">
	</head>
	<body>