{{> head }}
		
		{{> header }}
		<div class="l-content">
			<div class="l-wrapper">
				
				<!-- 
			
					The wwworld is your oyster
		
				-->
				
			</div>
		</div>
		{{> sidebar}}
		{{> footer}}

{{> foot }}